nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background: var(--bg-color);
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: top 300ms ease-in-out, background-color 300ms ease-in-out;
    cursor: none;
}

nav.hide {
    top: -150px;
    transition: top 300ms ease-in-out, background-color 300ms ease-in-out;
}

nav>.navWrap {
    margin-right: var(--page-margin);
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav>.navWrap.open {
    display: flex;
    animation: fadeIn 300ms 1 ease-in-out forwards;
}

.navWrap>a {
    font-family: "Epilogue", sans-serif;
    text-transform: none;
    letter-spacing: 0.5px;
    font-size: 42px;
    line-height: 240%;
    color: var(--text-color-p);
    cursor: none;
    transition: opacity 300ms ease-in-out;
    text-decoration: none;
}

.navWrap>a:hover, .navWrap>a.active {
    background: var(--underline);
    padding-bottom:7px;
    /* background-position-x:0;
    background-position-y:0; */
    background-repeat:repeat-x;
    background-size:15px 7px;
    background-position:2px 19px;
    animation:move 15s linear infinite;
    animation-play-state: running;
    background-color: transparent;
}

#cursor {
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    mix-blend-mode: difference;
    background-color: #fefefe;
    backface-visibility: hidden;
    transition: width 0.2s, height 0.2s, transform 0.2s;
    z-index: 1000;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.zoom {
    width: 50px !important;
    height: 50px !important;
}

/* .hide {
    display: none;
} */

@media (hover:hover) {
    #cursor,
    .zoom {
        display: block;
    }
}

.animate__fadeIn {
  animation-name: fadeIn;
}

.animate__animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation: move;
}

@keyframes move{
	0%{
		background-position:2px 19px
}
	to{
		background-position:500px 19px
}
}

nav>.logo {
    font-family: 'MierA Light';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: var(--text-color-primary);
    margin-left: var(--page-margin);
    cursor: none;
    text-decoration: none;
    display: flex;
}

.logo>.logo-img {
  margin-top: 20px;
    width: 50px;
    height: 50px;
    background-image: url(../assets/smile-logo1.png);
    background-size: cover;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}
.logo>.logo-img:hover{
    transform: rotate(10deg) scale(1.1);
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

/* menu icon */

nav>.menu {
    width: 40px;
    height: 40px;
    /* background: orange; */
    margin-right: var(--page-margin);
    cursor: none;
    position: relative;
    z-index: 10;
}

.menu>.rect {
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: var(--text-color-primary);
    position: absolute;
    transition: all 300ms ease-in-out;
}

.rect[i='1'] {
    top: 13px;
    left: 11px;
}

.rect[i='2'] {
    top: 19px;
    left: 11px;
}

.rect[i='3'] {
    top: 25px;
    left: 11px;
}

.rect[i='4'] {
    top: 19px;
    left: 11px;
}

.menu.open .rect[i='1'], .menu.open .rect[i='3'] {
    opacity: 0;
}

.menu.open .rect[i='2'] {
    transform: rotate(45deg);
}

.menu.open .rect[i='4'] {
    transform: rotate(-45deg);
}

/* theme switch */

.theme-switch {
    cursor: none;
    width: 24px;
    height: 24px;
    background: url(../assets/moon.svg);
    background-size: cover;
    margin-top: 24px;
}

.theme-switch.dark {
    background: url(../assets/sun.svg);
    background-size: cover;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    nav {
        height: 90px;
        justify-content: space-between;
    }
    nav.hide {
        top: -100px;
    }
    nav>.menu {
        display: none;
    }
    nav>.navWrap {
        width: auto;
        height: auto;
        position: relative;
        background: none;
        display: flex;
        flex-direction: row;
    }
    .navWrap>* {
        margin-left: 30px;
    }
    .navWrap>a {
      margin-top: 20px;
      font-size: 15px;
      line-height: 150%;
      color: var(--text-color-p);
    }
    .theme-switch {
        margin-top: 10px;
    }
}
