/* fonts import */
@import url("https://use.typekit.net/dyj5luj.css");


@font-face {
  font-family: 'Druk Wide';
  src: url("../assets/fonts/DrukWideBold.otf");
}

@font-face {
  font-family: 'Graphik Regular';
  src: url('../assets/fonts/Graphik-Regular.otf');
}

@font-face {
  font-family: 'Graphik Medium';
  src: url('../assets/fonts/GraphikMedium.otf');
}

@font-face {
  font-family: 'Graphik Semibold';
  src: url('../assets/fonts/GraphikSemibold.otf');
}

/* colors */

html[data-theme='light'] {
    --bg-color: #fff;
    --bg-color-2: #f8f8f9;
    --text-color-primary: #333;
    --text-color-secondary: rgba(0, 0, 0, 0.45);
    --text-color-tertiary: rgba(0, 0, 0, 0.3);
    --text-color-p: rgba(0, 0, 0, 0.75);
    --underline: url("https://i.ibb.co/FbrnGV9/curly.png");
    --cursor-border: 1px solid black;
}

html[data-theme='dark'] {
    --bg-color: #242424;
    --bg-color-2: #262626;
    --text-color-primary: rgba(255, 255, 255, .9) !important;
    --text-color-secondary: rgba(255, 255, 255, .55);
    --text-color-tertiary: rgba(255, 255, 255, 0.4);
    --text-color-p: rgba(255, 255, 255, .75);
    --underline: url("../assets/wave.png");
    --cursor-border: 1px solid white;
}

* {
    margin: 0;
    padding: 0;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out ;
}

p>strong {
  font-weight: 300;
}

section.dark {
    --bg-color: #121212;
    --bg-color-2: #262626;
    --text-color-primary: rgba(255, 255, 255, 1);
    --text-color-secondary: rgba(255, 255, 255, .6);
    --text-color-p: rgba(255, 255, 255, .75);
    --text-link-default: rgba(255, 255, 255, .3);
}

/* footer */

footer {
    font-family: 'Graphik Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #b2b2b2;
    text-align: center;
    line-height: 72px;
    width: 100%;
    transition: 300ms all ease-in-out;
}

/* gap */

body {
    --page-margin: 24px;
    --title-gap: 20px;
    --column-gap: 24px;
    --section-gap: 64px;
    background: var(--bg-color);
    cursor: none;
}

.cursor1 {
    width: 2rem;
    height: 2rem;
    border: var(--cursor-border);
    opacity: .5;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
  }

/* font */

p, li {
    font-family: 'Graphik Regular', sans-serif;
    font-variation-settings: 'wght' 350;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 1.5em;
    color: var(--text-color-p);
}

p>strong, li>strong {
    font-variation-settings: 'wght' 550;
    color: var(--text-color-primary);
}

p a {
    cursor: none;
    text-decoration: none;
    border-bottom: 1px dashed var(--text-color-p);
    color: var(--text-color-p);
}


p a:hover {
    transition: 0.25s;
}

h1 {
    font-family: 'Druk Wide', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 32px;
    line-height: 150%;
    color: var(--text-color-primary);
}

h2 {
    font-family: 'Graphik Medium', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: var(--text-color-primary);
    margin-bottom: var(--title-gap);
}

h3 {
    font-family: 'Graphik Medium', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--text-color-primary);
    margin-bottom: var(--title-gap);
}

h4 {
  font-family: 'Graphik Regular', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  margin-top: var(--title-gap);
  color: var(--text-color-primary);

}

.bold {
font-family: 'Graphik Semibold'
}

.emphasis {
  font-weight: 500;
}

.caption {
    font-family: 'Graphik Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #a1a1a1;
    margin-top: -1em;
}

.quote {
    font-family: 'Graphik Regular', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: var(--text-color-p);
    opacity: .5;
}

img, video {
    width: 100%;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

/* list */

ol, ul {
    margin-left: 2em;
}

@media only screen and (min-width: 768px) {
    /* gap */
    body {
        --page-margin: 64px;
        --title-gap: 40px;
        --column-gap: 30px;
        --section-gap: 96px;
    }
    /* font */
    p, li {
        font-size: 18px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    .quote {
        font-size: 32px;
    }
}

@media only screen and (min-width: 992px) {
    body {
        --page-margin: max(calc(50vw - 490px), 96px);
        /*max 980px*/
        --title-gap: 40px;
        --column-gap: 30px;
        --section-gap: 120px;
    }
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 24px;
    }
    p, li {
        font-size: 17px;
    }
}
